<% include ../partials/header %>
    <% include ../partials/head %>
        <h2> Christopher Pisano </h2>
        <%= inpNumber %>
            <%= resultNumber %>

                <% include ../partials/footer %>