<% include ../partials/header %>
    <% include ../partials/head %>

        <h2> Christopher Pisano </h2>
        <h5> <strong>Welcome to the 'Hello Express' page!</strong></h5>
        </br>
        </br>
        <p>
            <i>Click on a tab to either see the square of a number, cube of a number, or head to the about page of this website.</i>
        </p>




        <% include ../partials/footer %>